<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>blog.ypro.tech</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/blog.ypro.css?v=101" rel="stylesheet">
</head>

<body>
    <div class="col-xl-8 mx-auto p-0">
        <header class="d-flex align-items-center pb-1 mx-2 m-xl-0">
            <a href="//blog.ypro.tech" class="d-flex fs-1 text-decoration-none">
                <span class="brand-a">://blog.</span>
            </a>
            <a href="//ypro.tech" class="d-flex fs-1 text-decoration-none">
                <span class="brand-b">ypro.tech</span>
            </a>
        </header>

        {{ content }}

        <footer class="pt-2 my-2 text-muted border-top mx-2 m-xl-0">
            Copyright &copy; 2019 - 2021
            <a class="text-decoration-none" href="//blog.ypro.tech"><span class="brand-a">://blog.</span><span class="brand-b">ypro.tech</span></a>
            <img src="https://ypro.tech/img/pixel.png" />
        </footer>
    </div>
</body>

</html>